/********** GLOBAL **********/
.ls-max-width-sm {
  max-width: 700px;
}

.ls-reset {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

.ls-height100 {
  height: 100%;
}

.ls-mt-mb {
  margin: 50px 0;
}

.ls-pt-pb {
  padding: 25px 0;
}

.ls-text-grey {
  color: grey;
  font-size: 22px;
  margin: 15px 0;
}

/* BUTTON */
.ls-btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 700;
  color: #fff;
  transition: all .1s ease-out;
}

.ls-btn:hover {
  color: #fff;
}

.ls-btn.ls-black{
  background-color: rgb(24, 24, 24);
}

.ls-btn.ls-black:hover {
  filter: opacity(85%);
}

.ls-btn.ls-red{
  background-color: #dc3545;
}

.ls-btn.ls-red:hover {
  outline: 2px solid #dc3545;
  outline-offset: 2px;
}

.ls-btn.ls-blue{
  background-color: #0d6efd;
}

.ls-btn.ls-blue:hover {
  outline: 2px solid #0d6efd;
  outline-offset: 2px;
}

.ls-btn.ls-grey{
  color: #0d6efd;
  background-color: #d9dadc;
}

.ls-btn.ls-grey:hover {
  outline: 2px solid #d0d1d393;
  outline-offset: 2px;
}

.ls-btn.ls-white{
  color: #000;
  background-color: #fff;
}

.ls-btn.ls-white:hover {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/********** HEADER **********/
header {
  background-color: black;
}

.header__top {
  display: flex;
  justify-content: end;
  background-color: black;
}

.header__top img {
  padding: 10px 3px;
  width: 80px;
}

/* NAVBAR */
.ls-navbar-custom {
  background-color: #fff !important;
  font-size: 14px;
  font-weight: 600;
}

.ls-navbar-custom .nav-link {
  color: black !important;
}

.ls-navbar-custom .dropdown {
  position: static;
}

.ls-navbar-custom .dropdown-menu {
  top: 56px;
  width: 100%;
  margin-top: 0;
  border-radius: 0;
  border: none;
  text-align: center;
  background-color: #fff;
  font-size: 17px;
}

.ls-navbar-custom .dropdown-menu a {
  font-weight: 600;
}

.ls-navbar-custom__box img {
  width: 80px;
  height: 80px;
}

.ls-navbar-custom__bottom_dropmenu li, #ls-off {
  list-style: none;
}

.ls-navbar-custom__bottom_dropmenu a::before {
  content: "\25CF";
  color: #0072ce;
  margin-right: 5px;
}

#ls-lens {
  width: 30px;
}

/* hover */
.ls-navbar-custom .nav-link:hover, .ls-navbar-custom__bottom_dropmenu a:hover {
  color: #0072ce !important;
}

.ls-navbar-custom .dropdown-menu a:hover {
  background-color: #fff;
}

/********** JUMBOTRON **********/
.ls-jumbotron {
  margin-top: 93px;
  margin-bottom: 80px;
}

/* JUMBOTRON TOP */
.carousel-item {
  min-height: 600px;
  background-color: blue;
  background-position: center center;
  background-size: cover;
}

.carousel-caption {
  left: 5%;
  text-align: left;
}

.ls-caption img {
  width: 70%;
}

/* JUMBOTRON BOTTOM */
.carousel-indicators {
  position: static;
  margin-right: 5%;
  margin-left: 5%;
} 

.carousel-indicators [data-bs-target] {
  width: auto;
  height: auto;
  text-indent : 0;
  border: none;
  margin-left : 0;
  margin-right : 0;
  opacity: 100%;
}

.ls-jumbotron__bottom-active {
  outline: 2px solid #0072ce;
  outline-offset: 3px;
}

.ls-jumbotron__bottom .ls-box {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  filter: opacity(85%);
  transition: all 0.25s ease-in-out;
}

.ls-jumbotron__bottom .ls-box img {
  width: 100%;
}

/* hover */
.ls-jumbotron__bottom .ls-box:hover {
  margin-top: -10px;
  filter: opacity(100%);
  box-shadow: 0px 10px 15px 0px grey;
  cursor: pointer;
}

/********** MAIN **********/

/***** SECTION PLAY 5 *****/
/* PLAY 5 TOP */
#playnolimits {
  color: #0072ce;
  font-weight: 600;
}

/* PLAY 5 CENTER */
.ls-play5 .ls-play5__center img {
  width: 100%;
}

.ls-play5__center__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PLAY 5 BOTTOM */
.ls-play5__bottom__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  text-align: center;
  filter: opacity(60%);
}

.ls-play5__bottom__box img {
  width: 100%;
  padding: 30px;
}

/* active */
.ls-play5__bottom__box__active {
  filter: opacity(100%);
  border-bottom: 3px solid #2787d5;
}

/* hover */
.ls-play5__bottom__box:hover {
  filter: opacity(100%);
  cursor: pointer;
}

/***** SECTION NEW RELEASE *****/

/* NEW RELEASE TOP */
.ls-new-release__top {
  height: 600px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}

.ls-new-release__top__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 15px;
  color: white;
}

.ls-new-release__top__content img {
  width: 55%;
}

/* NEW RELEASE BOTTOM */
.ls-new-release__bottom {
  background-color: #141414;
}

.ls-new-release__bottom p {
  margin-bottom: 30px;
}

.ls-new-release__bottom .ls-box {
  border-radius: 20px;
  overflow: hidden;
}

.ls-new-release__bottom .ls-box img {
  width: 100%;
}

/* hover */
.ls-new-release__bottom .ls-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/***** SECTION PLAY 4 *****/
/* PLAY4  BOTTOM */
.ls-play4__main__box {
  margin: 25px 0;
}

.ls-play4__main__box img{
  width: 100%;
}

/***** SECTION PLAY PLUS *****/
.ls-playplus {
  background-color: #bebcbb;
}

/* PLAY PLUS CONTENT */
.ls-playplus__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.ls-playplus__content img {
  width: 80%;
}

/* PLAY PLUS IMAGE */
.ls-playplus__img {
  display: flex;
  justify-content: end;
}

.ls-playplus__img img {
  width: 100%;
}

/***** SECTION PLAY STORE *****/

/* PLAY STORE MAIN */
.ls-playstore__main__box {
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: all .3s ease-out;
}

.ls-playstore__main__box img {
  width: 100%;
}

/* hover */
.ls-playstore__main__box:hover {
  transform: scale(1.05);
}

/***** SECTION PLAY NOW *****/
.ls-playnow {
  background-color: #161c3b;
}

/* PLAY NOW CONTENT */
.ls-playnow__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.ls-playnow__content img {
  width: 80%;
}

/* PLAY NOW IMAGE */
.ls-playnow__img {
  display: flex;
  justify-content: end;
}

.ls-playnow__img img {
  width: 100%;
}

/***** SECTION SOCIAL *****/

/* SOCIAL MAIN */
.ls-social__main__box {
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: all .3s ease-out;
}

.ls-social__main__box img {
  width: 100%;
}

/* hover */ 
.ls-social__main__box:hover {
  transform: scale(1.05);
}

/********** FOOTER **********/
footer {
  background-color: #00439c;
  font-size: 14px;
  color: #fff;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

footer p a:hover {
  color: #fff;
}

footer img {
  width: 120px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li a:hover {
  color: #fff;
}

#footer-img-sony {
  width: 150px;
}

#maggioriinfo {
  color: #fff;
}



/********** RESPONSIVE **********/

@media (min-width: 768px) {

  /* JUMBOTRON */
  .carousel-caption {
    width: 50%;
  }

  /* PLAY PLUS */
  .ls-playplus__content {
    padding: 15px 0;
  }

  /* PLAY NOW */
  .ls-playnow__content {
    padding: 15px 0;
  }

}
