/********** GLOBAL **********/
h2 {
  font-size: 45px;
}

p {
  font-size: 25px;
}

.ls-height100 {
  height: 100%;
}

.ls-mt-mb {
  margin: 50px 0;
}

.ls-pt-pb {
  padding: 25px 0;
}

.ls-c-grey {
  color: grey;
}

/* !!!!!!!!!!!!!!!!!! Togliere!!!!!!!!*/
footer {
  height: 300px;
}
/* !!!!!!!!!!!!!!!!!! Togliere!!!!!!!!*/
/********** HEADER **********/
header {
  background-color: black;
}

.header__top {
  display: flex;
  justify-content: end;
  background-color: black;
}

.header__top img {
  padding: 10px 3px;
  width: 80px;
}

/********** JUMBOTRON **********/
/* JUMBOTRON TOP */
.ls-jumbotron__top {
  margin-top: 93px;
  height: 600px;
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
}

.ls-jumbotron__top__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 15px;
  color: white;
}

.ls-jumbotron__top__content img {
  width: 70%;
}

/* JUMBOTRON BOTTOM */
.ls-jumbotron__bottom-active {
  outline: 2px solid #0072ce;
  outline-offset: 2px;
}

.ls-jumbotron__bottom .ls-box {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.ls-jumbotron__bottom .ls-box img {
  width: 100%;
}

#playnolimits {
  color: #0072ce;
  font-weight: 600;
}

/********** MAIN **********/

/***** SECTION PLAY 5 *****/

/* PLAY 5 CENTER */
.play5 .play5__center img {
  width: 100%;
}

.play5__center__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PLAY 5 BOTTOM */
.play5__bottom__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.play5__bottom__box img {
  width: 100%;
  padding: 25px;
}

/***** SECTION NEW RELEASE *****/

/* NEW RELEASE TOP */
.ls-new-release__top {
  height: 600px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}

.ls-new-release__top__content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 15px;
  color: white;
}

.ls-new-release__top__content img {
  width: 70%;
}

/* NEW RELEASE BOTTOM */
.ls-new-release__bottom {
  background-color: #1f1f1f;
}

.ls-new-release__bottom p {
  margin-bottom: 25px;
}

.ls-new-release__bottom .ls-box {
  border-radius: 20px;
  overflow: hidden;
}

.ls-new-release__bottom .ls-box img {
  width: 100%;
}

/***** SECTION PLAY 4 *****/
/* PLAY4  BOTTOM */
.play4__main__box img{
  width: 100%;
}

